@model IEnumerable<BSMS.bsms.localhost.BOOK>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="col-md-8">


        <br><br>
        <div class="title"><span>New Books</span></div><br>
        @foreach (var item in Model)
            {
                IEnumerable<BSMS.bsms.localhost.BOOK_IMAGE> bookImage = BSMS.Models.BookModel.GetBooksImages().Where(bi => bi.BOOKID == item.BOOKID);
            <div class="col-sm-4 col-lg-4 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="@Url.Action("BookDetail","Book", new { id = item.BOOKID})">
                            <img alt="Product" src="@bookImage.ElementAt(0).IMAGEPATH">
                        </a>
                        <div class="tags">
                            <span class="label-tags"><span class="label label-default arrowed">New</span></span>
                        </div>
                        <div class="tags tags-left">
                            <span class="label-tags"><span class="label label-danger arrowed-right">Sale</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                            <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="detail.html"> @item.NAME </a></h6>
                    <div class="price">
                        <div>$@(item.PRICE - ((item.PRICE * item.PERCENTAGE_OFF) / 100) ) <span class="label-tags"><span class="label label-default">-@item.PERCENTAGE_OFF%</span></span></div>
                        <span class="price-old">$@item.PRICE</span>
                    </div>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <a href="#">(5 reviews)</a>
                    </div>
                </div>
            </div>
        }
    </div>
   
</div>
